@import "tailwindcss";
@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto-regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #2a2a2a;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  background-image: url("/fondo_jomudev.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Roboto", sans-serif;
  max-width: 100svw;
  overflow-x: hidden;
  max-height: 100svh;
  overflow-y: hidden;
}
